.backgroundimg {
  background-color: #ffffff;
  background-image: url(web.jpg);
  background-position: center;
  background-size: contain;
  width: 414vw;
  height: 736vh;
  background-repeat: no-repeat;
}
