.backgroundimg {
  background-color: #ffffff;
  background-image: url(web.jpg);
  background-position: center;
  background-size: contain;
  width: 90vw;
  height: 1000vh;
  background-repeat: no-repeat;
}
